.index{
	background-color: aliceblue;
}

.fondito{
   background-color: white; 
}

.piedra{
	background-color: grey;

}

.papel{
	background-color: aliceblue;	
}

.tijera{
	background-color: lightgrey;	
}